/*colorSelector: https://htmlcolorcodes.com/es/*/


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

/*Estilos del documento*/

.document {
    width: 200px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.document:hover {
    transform: scale(1.05);
}

.document-icon {
    text-align: center;
    margin-top: 20px;
}

.document-icon img {
    width: 64px;
    height: 64px;
}

.document-name {
    text-align: left;
    overflow: hidden;
    white-space: normal; /* Permite el texto en varias líneas */
    word-wrap: break-word; /* Permite el ajuste de palabras largas */
    margin: 20px 0; /* Ajustado para no tener margen excesivo */
    padding: 0 5px; /* Agregado para mejorar la presentación */
    height: auto; /* Permite que la altura se ajuste según el contenido */
    max-height: 4.5em; /* Limita la altura máxima del contenedor */
}

.document-name p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}


.document-name::after {
    content: attr(#); /* Usa el atributo data-fullname para el nombre completo */
    position: absolute;
    bottom: 100%; /* Posiciona el tooltip arriba del nombre del documento */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
    max-width: 200px; /* Asegura que el tooltip no sea demasiado ancho */
    text-align: center;
}

.document-name:hover::after {
    opacity: 1;
    visibility: visible;
}


/*Estilos popup del pdf*/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
.popup-content embed {
    border: none;
    width: 100%;
    height: 100%;
}*/

.popup-content iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.popup-content button {
    position: absolute;
    top: 50px; /* Cambiado de 10px a 20px */
    right: 70px; /* Cambiado de 10px a 20px */
    padding: 10px;
    cursor: pointer;
    background-color: #29bd00;
    border: none;
    color: #FFF;
}

.popup-content button: hover{
    
}

/*Estilos del web_push alert*/

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notification.show {
    opacity: 1;
}


/*Estilos para el hover del nombre completo*/
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none; /* Evita que el tooltip interfiera con eventos del mouse */
}
